Nernay Kumar
Inten Id 
INT2026-9021

In [ ]:
# Problem 1: Reverse a String

s = "python"
rev = ""

for ch in s:
  rev = ch + rev

print(rev)

nohtyp

In [ ]:
# Problem 2: Check Even or Odd
n = 7

if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [ ]:
# Problem 3: Sum of Elements in a List

arr = [1, 2, 3, 4, 5]
total = 0

for num in arr:
    total += num

print(total)

15

In [ ]:
# Problem 4: Count Vowels in a String

s = "geeksforgeeks"
vowels = "aeiou"
count = 0

for ch in s:
    if ch in vowels:
        count += 1

print(count)

5

In [ ]:
# Problem 5: Find Largest Element in a Lis

arr = [10, 5, 20, 8]
max_val = arr[0]

for num in arr:
    if num > max_val:
        max_val = num

print(max_val)

20

In [ ]:
# Problem 6: Check Palindrome
s = "madam"
if s == s[::-1]:
    print(True)
else:
    print(False)

True

In [ ]:
# Problem 7: Remove Duplicates from a List

arr = [1, 2, 2, 3, 4, 4, 5]
unique = []

for num in arr:
    if num not in unique:
        unique.append(num)

print(unique)

[1, 2, 3, 4, 5]

In [ ]:
# Problem 8: Second Largest Element
arr = [10, 20, 4, 45, 99]

first = second = -1

for num in arr:
    if num > first:
        second = first
        first = num
    elif num > second and num != first:
        second = num

print(second)

45

In [ ]:
# Problem 9: Frequency of Characters

s = "aabbc"
freq = {}

for ch in s:
    freq[ch] = freq.get(ch, 0) + 1

print(freq)

{'a': 2, 'b': 2, 'c': 1}

In [ ]:
# Problem 10: Swap Two Numbers Without Third Variable
a = 5
b = 10

a = a + b
b = a - b
a = a - b

print(a, b)

10 5

In [ ]:
# Q10. Factorial of a Number
n = 5
fact = 1

for i in range(1, n + 1):
    fact *= i

print(fact)

120

In [ ]:
# Q11. Check Prime Number

n = 7
is_prime = True

for i in range(2, n):
    if n % i == 0:
        is_prime = False
        break

if is_prime and n > 1:
    print("Prime")
else:
    print("Not Prime")

Prime

In [ ]:
# Q12. Find Length of a List without using len
arr = [1, 2, 3, 4]
count = 0

for _ in arr:
    count += 1

print(count)

4

In [ ]:
# Q13. Remove Duplicates from List

arr = [1, 2, 2, 3, 4, 4]
print(list(set(arr)))

[1, 2, 3, 4]

In [ ]:
# Q14. Swap Two Numbers
a = 3
b = 5

a, b = b, a
print(a, b)

5 3

In [ ]:
# Q15. Find Largest Element in a List
arr = [10, 25, 5, 40]
print(max(arr))

40

In [ ]:
# Q16. Print even numbers from 1 to 20
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Q17. Sum of numbers from 1 to N

n = 5
total = 0

for i in range(1, n + 1):
    total += i

print(total)

15

In [ ]:
# Q18. Print multiplication table
n = 5

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Q19. Print pattern (stars)
n = 4

for i in range(1, n + 1):
    print("*" * i)

*
**
***
****

In [ ]:
# Q20. Find GCD (Greatest Common Divisor) of Two Numbers

def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

num1 = 48
num2 = 18

result = gcd(num1, num2)
print(f"GCD of {num1} and {num2} is: {result}")

## Why I want to build a career in AI/ML?

AI/ML is not just building models; it's about solving problems that previously were hard to solve via traditional computing. I see AI/ML not just as a career, but as a chance to work on problems that can actually change how the world works. 

Think about itâ€”if people like Sam Altman hadn't taken the risk to explore and develop AI technologies, we wouldn't have LLMs like ChatGPT today. These tools are now changing how millions of people work, learn, and solve problems. 

I want to be part of creating the next wave of AI innovations that make a real difference in people's lives. Even if the impact isn't clear today, I believe the work we do in AI/ML now could become the foundation for tomorrow's breakthroughs.