In [2]:
#Housing Price Prediction
import pandas as pd
import numpy as np
data = pd.read_csv(r"C:\Users\Malli Mounika\Downloads\Housing1.csv")
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:
#Convert yes/no to 1/0

yes_no_cols = ['mainroad','guestroom','basement',
               'hotwaterheating','airconditioning','prefarea']

for col in yes_no_cols:
    data[col] = data[col].map({'yes':1, 'no':0})

In [8]:
#Convert furnishingstatus


data['furnishingstatus'] = data['furnishingstatus'].map({
    'unfurnished':0,
    'semi-furnished':1,
    'furnished':2
})

In [9]:
#Separate X and y

X = data.drop('price', axis=1).values
y = data['price'].values

In [10]:
# Normalize features
X = (X - X.mean(axis=0)) / X.std(axis=0)

In [12]:
#Add bias column

X = np.hstack((np.ones((X.shape[0],1)), X))

In [21]:
#Gradient Descent

theta = np.zeros(X.shape[1])
alpha = 0.01
epochs = 2000

for i in range(epochs):
    y_pred = X.dot(theta)
    error = y_pred - y
    theta = theta - (alpha/len(y)) * X.T.dot(error)
print(theta)

[4766729.2388224   528813.35038213   88119.46852553  496435.54627064
  390322.26532107  147382.28383673  114006.28558379  170749.24792551
  182626.00797112  396739.07836104  240835.88323396  274300.1948954
  162166.43653376]

In [29]:
#Prediction function
mean = X[:,1:].mean(axis=0)
std = X[:,1:].std(axis=0)

def predict_house(features):
    features = (features - mean) / std
    features = np.insert(features, 0, 1)
    result = features.dot(theta)
    print("Predicted Price:", result)
    return result

predict_house(np.array([7420,4,2,3,1,0,1,0,1,2,1,2]))

Predicted Price: 3932970908.4223924

np.float64(3932970908.4223924)

In [30]:
print(theta)
print(mean)
print(std)

[4766729.24770638  528826.50797311   88098.79589305  496430.25117063
  390352.62416067  147372.2045521   113995.8661079   170771.53510932
  182623.89151709  396728.71753948  240838.06083654  274295.13907756
  162166.36894883]
[-1.56449777e-16 -1.82524739e-16 -2.60749628e-17 -1.30374814e-16
 -1.82524739e-16  5.21499256e-17 -7.82248883e-17 -6.51874070e-18
 -5.21499256e-17  0.00000000e+00  0.00000000e+00  0.00000000e+00]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [28]:
for i in range(epochs):
    y_pred = X.dot(theta)
    error = y_pred - y
    cost = np.mean(error**2)
    theta = theta - (alpha/len(y)) * X.T.dot(error)

    if i % 200 == 0:
        print("Epoch", i, "Loss:", cost)

Epoch 0 Loss: 1117238566476.3958
Epoch 200 Loss: 1117238565668.5234
Epoch 400 Loss: 1117238565515.5613
Epoch 600 Loss: 1117238565486.593
Epoch 800 Loss: 1117238565481.1064
Epoch 1000 Loss: 1117238565480.0674
Epoch 1200 Loss: 1117238565479.8706
Epoch 1400 Loss: 1117238565479.8335
Epoch 1600 Loss: 1117238565479.8262
Epoch 1800 Loss: 1117238565479.825

In [16]:
theta = np.zeros(X.shape[1])

In [17]:
mean = X[:,1:].mean(axis=0)
std = X[:,1:].std(axis=0)

In [18]:
def predict_house(features):
    features = (features - mean) / std
    features = np.insert(features, 0, 1)
    return features.dot(theta)

In [20]:
#Accuracy (R² score manually)

y_hat = X.dot(theta)

ss_total = np.sum((y - y.mean())**2)
ss_res = np.sum((y - y_hat)**2)

r2 = 1 - (ss_res/ss_total)
print("R2 Score:", r2)

R2 Score: -6.506556227633131

In [31]:
#Email dataset
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Malli Mounika\Downloads\completeSpamAssassin.csv")
df

      Unnamed: 0                                               Body  Label
0              0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1              1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2              2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3              3  ##############################################...      1
4              4  I thought you might like these:\n1) Slim Down ...      1
...          ...                                                ...    ...
6041        6041                                              empty      0
6042        6042                    ___           ___           ...      0
6043        6043  IN THIS ISSUE:01. Readers write\n02. Extension...      0
6044        6044                                              empty      0
6045        6045                                              empty      0

[6046 rows x 3 columns]

In [32]:
X_text = df['Body']
y = df['Label'].values   # already 0/1

In [ ]:
print(np.unique(y))

In [33]:
#Build Vocabulary

from collections import Counter

vocab = Counter()
for mail in X_text:
    for word in str(mail).lower().split():
        vocab[word] += 1

vocab = list(vocab.keys())

In [37]:
vocab=vocab[:3000]
X = np.array([vectorize(mail) for mail in X_text])
X = np.hstack((np.ones((X.shape[0],1)), X))

In [38]:
epochs=30

In [40]:
def predict_mail(text):
    vec = vectorize(text)
    vec = np.insert(vec, 0, 1)   # add bias
    z = np.dot(vec, weights)
    prob = sigmoid(z)
    
    if prob >= 0.5:
        print("Spam mail")
    else:
        print("Not spam mail")

In [ ]:
assert X.shape[1] == weights.shape[0]

In [ ]:
#add bias
X = np.hstack((np.ones((X.shape[0],1)), X))

In [ ]:
#Sigmoid 
def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [ ]:
X = X[:800]
y = y[:800]
epochs = 30

In [ ]:
for i in range(epochs):
    z = X.dot(theta)
    h = sigmoid(z)
    error = h - y
    theta = theta - (alpha/len(y)) * X.T.dot(error)

    print("Epoch", i, "done")

In [ ]:
#train the data
theta = np.zeros(X.shape[1])
alpha = 0.01
epochs = 500

for i in range(epochs):
    z = X.dot(theta)
    h = sigmoid(z)
    error = h - y
    theta = theta - (alpha/len(y)) * X.T.dot(error)

In [ ]:
#Predict function
def predict_mail(text):
    vec = vectorize(text)
    vec = np.insert(vec, 0, 1)
    prob = sigmoid(vec.dot(theta))
    
    if prob > 0.5:
        print("Spam")
    else:
        print("Not Spam")

In [ ]:
predict_mail("Win free money now")
predict_mail("Meeting at 5pm")

In [ ]:
preds = sigmoid(X.dot(theta)) > 0.5
accuracy = np.mean(preds == y)
print("Accuracy:", accuracy)

In [50]:
import numpy as np

def sigmoid(z):
    return 1 / (1 + np.exp(-z))

In [51]:
def predict_mail(text):
    vec = vectorize(text)
    vec = np.insert(vec, 0, 1)
    prob = sigmoid(np.dot(vec, weights))

    if prob >= 0.5:
        print("Spam mail")
        return 1
    else:
        print("Not spam mail")
        return 0

In [52]:
predict_mail("Win free money now")
predict_mail("Meeting at 5pm")

Spam mail
Spam mail

1

In [53]:
print(sigmoid(0))

0.5

In [55]:
print("Checking accuracy...")
preds = sigmoid(X @ weights) >= 0.5
accuracy = (preds == y).mean()
print("Accuracy:", accuracy)

Checking accuracy...
Accuracy: 0.3135957657955673