In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
from io import StringIO

housing_data = """price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
"""

house_df = pd.read_csv(StringIO(housing_data))
house_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished

In [4]:
categorical_cols = [
    'mainroad','guestroom','basement',
    'hotwaterheating','airconditioning',
    'prefarea','furnishingstatus'
]

encoder = LabelEncoder()
for col in categorical_cols:
    house_df[col] = encoder.fit_transform(house_df[col])

house_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,0,0,0,0,0,2,0,0

In [5]:
X_house = house_df.drop('price', axis=1)
y_house = house_df['price']

In [6]:
reg_model = LinearRegression()
reg_model.fit(X_house, y_house)

predicted_price = reg_model.predict(X_house)
print("Predicted House Price:", predicted_price[0])

Predicted House Price: 13300000.0