In [ ]:
#CUSTOMER CHURN DATASET(messy) -TASK :- CLEAN DATA SET THEN IT READY FOR MACHINE LEARNING

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#Load dataset
df = pd.read_csv(r"C:\Users\Malli Mounika\Downloads\customer_churn_messy.csv")
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,FEMALE,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,f,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,MALE,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,m,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
449645,222861.0,NaN,female,28.0,30.0,8.0,30.0,Basic,Monthly,889.69,20.0,1.0
449646,127939.0,NaN,m,59.0,29.0,3.0,29.0,Premium,Annual,100.00,25.0,1.0
449647,142961.0,NaN,male,53.0,22.0,10.0,22.0,Basic,Quarterly,480.00,17.0,1.0
449648,7663.0,NaN,F,24.0,2.0,8.0,2.0,Premium,Annual,357.00,15.0,1.0
449649,258402.0,NaN,MALE,32.0,20.0,8.0,21.0,Standard,Monthly,497.14,20.0,1.0

In [3]:
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,FEMALE,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,f,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,MALE,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,m,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

In [4]:
#basic information
df.info

<bound method DataFrame.info of         CustomerID   Age  Gender  Tenure  Usage Frequency  Support Calls  \
0              2.0  30.0  FEMALE    39.0             14.0            5.0
1              3.0  65.0       f    49.0              1.0           10.0
2              4.0  55.0  female    14.0              4.0            6.0
3              5.0  58.0    MALE    38.0             21.0            7.0
4              6.0  23.0       m    32.0             20.0            5.0
...            ...   ...     ...     ...              ...            ...
449645    222861.0   NaN  female    28.0             30.0            8.0
449646    127939.0   NaN       m    59.0             29.0            3.0
449647    142961.0   NaN    male    53.0             22.0           10.0
449648      7663.0   NaN       F    24.0              2.0            8.0
449649    258402.0   NaN    MALE    32.0             20.0            8.0

        Payment Delay Subscription Type Contract Length  Total Spend  \
0                18.0          Standard          Annual       932.00
1                 8.0             Basic         Monthly       557.00
2                18.0             Basic       Quarterly       185.00
3                 7.0          Standard         Monthly       396.00
4                 8.0             Basic         Monthly       617.00
...               ...               ...             ...          ...
449645           30.0             Basic         Monthly       889.69
449646           29.0           Premium          Annual       100.00
449647           22.0             Basic       Quarterly       480.00
449648            2.0           Premium          Annual       357.00
449649           21.0          Standard         Monthly       497.14

        Last Interaction  Churn
0                   17.0    1.0
1                    6.0    1.0
2                    3.0    1.0
3                   29.0    1.0
4                   20.0    1.0
...                  ...    ...
449645              20.0    1.0
449646              25.0    1.0
449647              17.0    1.0
449648              15.0    1.0
449649              20.0    1.0

[449650 rows x 12 columns]>

In [5]:
#Basic Check
df.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,449649.000000,418790.000000,449649.000000,449649.000000,449649.000000,449649.000000,449649.000000,449649.000000,449649.000000
mean,225405.605019,39.366759,31.248881,15.811313,3.604474,12.963262,750.504403,14.484411,0.567102
std,129518.845272,12.439045,17.257307,8.586837,3.070373,8.258191,1298.220116,8.596970,0.495477
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113632.000000,29.000000,16.000000,9.000000,1.000000,6.000000,484.000000,7.000000,0.000000
50%,226143.000000,39.000000,32.000000,16.000000,3.000000,12.000000,664.440000,14.000000,1.000000
75%,337737.000000,48.000000,46.000000,23.000000,6.000000,19.000000,835.110000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,19998.400000,30.000000,1.000000

In [6]:
#Check missing values
df.isnull().sum()

CustomerID               1
Age                  30860
Gender                   1
Tenure                   1
Usage Frequency          1
Support Calls            1
Payment Delay            1
Subscription Type        1
Contract Length          1
Total Spend              1
Last Interaction         1
Churn                    1
dtype: int64

In [7]:
#Remove duplicates
df1 = df.drop_duplicates()
df1

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,FEMALE,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,f,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,MALE,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,m,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
449564,184348.0,NaN,F,4.0,13.0,5.0,8.0,Standard,Monthly,432.00,19.0,1.0
449600,148697.0,NaN,MALE,24.0,10.0,2.0,10.0,Premium,Monthly,611.00,20.0,1.0
449606,35467.0,NaN,male,49.0,18.0,6.0,24.0,Premium,Annual,106.00,27.0,1.0
449641,60664.0,NaN,FEMALE,52.0,13.0,5.0,11.0,Premium,Quarterly,495.00,12.0,1.0
449643,293045.0,NaN,Male,19.0,12.0,3.0,1.0,Basic,Quarterly,963.75,23.0,0.0

In [8]:
#Handle Missing Age Values
print("Missing Age before:", df['Age'].isnull().sum())

df['Age'] = df['Age'].fillna(df['Age'].median())

print("Missing Age after:", df['Age'].isnull().sum())

Missing Age before: 30860
Missing Age after: 0

In [9]:
#Remove Duplicate Rows
print("Duplicates before:", df.duplicated().sum())

df = df.drop_duplicates()

print("Duplicates after:", df.duplicated().sum())

Duplicates before: 8378
Duplicates after: 0

In [10]:
#Fix Inconsistent Gender Formats
print("Before fixing gender:")
print(df['Gender'].value_counts())

df['Gender'] = df['Gender'].str.lower()
df['Gender'] = df['Gender'].replace({'m':'male','f':'female'})

print("\nAfter fixing gender:")
print(df['Gender'].value_counts())

Before fixing gender:
Gender
male      50290
m         50149
Male      50050
M         50026
MALE      49977
F         38412
female    38329
Female    38069
FEMALE    38012
f         37957
Name: count, dtype: int64

C:\Users\Malli Mounika\AppData\Local\Temp\ipykernel_11392\2643437373.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].str.lower()

After fixing gender:
Gender
male      250492
female    190779
Name: count, dtype: int64

C:\Users\Malli Mounika\AppData\Local\Temp\ipykernel_11392\2643437373.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'] = df['Gender'].replace({'m':'male','f':'female'})

In [21]:
#Salary Outliers
df.columns = df.columns.str.strip()

# Outlier removal using IQR on Total Spend
col = 'Total Spend'

Q1 = df[col].quantile(0.25)
Q3 = df[col].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

print("Before removing outliers:")
print(df[col].describe())

df = df[(df[col] >= lower) & (df[col] <= upper)]

print("\nAfter removing outliers:")
print(df[col].describe())

Before removing outliers:
count    436778.000000
mean        631.619650
std         240.829597
min         100.000000
25%         480.000000
50%         661.000000
75%         830.000000
max        1000.000000
Name: Total Spend, dtype: float64

After removing outliers:
count    436778.000000
mean        631.619650
std         240.829597
min         100.000000
25%         480.000000
50%         661.000000
75%         830.000000
max        1000.000000
Name: Total Spend, dtype: float64

In [17]:
#Encode
df.columns = df.columns.str.strip()

# Encode categorical columns
df = pd.get_dummies(
    df,
    columns=['Gender', 'Subscription Type', 'Contract Length'],
    drop_first=True
)

print("Columns after encoding:\n", df.columns)

Columns after encoding:
 Index(['CustomerID', 'Age', 'Tenure', 'Usage Frequency', 'Support Calls',
       'Payment Delay', 'Total Spend', 'Last Interaction', 'Churn',
       'Gender_male', 'Subscription Type_Premium',
       'Subscription Type_Standard', 'Contract Length_Monthly',
       'Contract Length_Quarterly'],
      dtype='object')

In [18]:
#Feature Engineering
df['SpendTenureRatio'] = df['Total Spend'] / (df['Tenure'] + 1)

df[['SpendTenureRatio']].head()

   SpendTenureRatio
0         23.300000
1         11.140000
2         12.333333
3         10.153846
4         18.696970