
# Week 1 â€“ Assignment 3  
## Customer Churn Data Cleaning  
**Author:** Rawal Vipul  

### Objective  
Clean a messy customer churn dataset to make it ready for machine learning.


### Issues in Dataset
- Missing age values  
- Duplicate rows  
- Inconsistent gender formats  
- Salary outliers

In [ ]:

import pandas as pd
import numpy as np

### Load Dataset

In [ ]:

# Example messy dataset
data = {
    'age': [25, np.nan, 30, 25, np.nan],
    'gender': ['M', 'male', 'F', 'Female', 'f'],
    'salary': [50000, 60000, 7000000, 50000, 60000],
    'churn': [0, 1, 0, 0, 1]
}

df = pd.DataFrame(data)
df

### Data Cleaning

In [ ]:

# Handle missing age values
df['age'] = df['age'].fillna(df['age'].mean())

# Remove duplicate rows
df = df.drop_duplicates()

# Standardize gender column
df['gender'] = df['gender'].str.lower().replace({'m':'male','f':'female'})

# Remove salary outliers using IQR
Q1 = df['salary'].quantile(0.25)
Q3 = df['salary'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['salary'] >= Q1 - 1.5*IQR) & (df['salary'] <= Q3 + 1.5*IQR)]

df


### Conclusion
The dataset has been cleaned and is now suitable for machine learning models.