In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
# Load the dataset
df = pd.read_csv("customer_time_series (1).csv")

# Display first few rows
df.head()

,Customer_ID,User_ID,Account_Type,Email,Loan_Account_No,Debit_Card_No,Credit_Card_No,Demat_Account_No,Current_Account_No,Savings_Account_No,IFSC_Code,Home_Branch,Address,Date,Transactions,Total_Spend,Logins,Complaints,Account_Balance
0,CUST000001,USER000001,Current,harsh66@example.org,1627618052,4089064904787464,5913279743834980,7495036922,2030770299,3538698415,HHOF167018,Begusarai,"H.No. 40, Rana Circle, Phusro 606497",2024-01-31,23,14903.60,12,0,612940.68
1,CUST000001,USER000001,Current,harsh66@example.org,1627618052,4089064904787464,5913279743834980,7495036922,2030770299,3538698415,HHOF167018,Begusarai,"H.No. 40, Rana Circle, Phusro 606497",2024-02-29,15,18580.63,24,0,608693.68
2,CUST000001,USER000001,Current,harsh66@example.org,1627618052,4089064904787464,5913279743834980,7495036922,2030770299,3538698415,HHOF167018,Begusarai,"H.No. 40, Rana Circle, Phusro 606497",2024-03-31,21,39371.20,6,0,597877.68
3,CUST000001,USER000001,Current,harsh66@example.org,1627618052,4089064904787464,5913279743834980,7495036922,2030770299,3538698415,HHOF167018,Begusarai,"H.No. 40, Rana Circle, Phusro 606497",2024-04-30,25,8504.02,22,1,603497.68
4,CUST000001,USER000001,Current,harsh66@example.org,1627618052,4089064904787464,5913279743834980,7495036922,2030770299,3538698415,HHOF167018,Begusarai,"H.No. 40, Rana Circle, Phusro 606497",2024-05-31,15,17704.12,8,0,615186.68

In [3]:
# Calculate customer retention
retention_df = (
    df.groupby(['Customer_ID', 'Account_Type'])
      .size()
      .reset_index(name='return_count')
)

retention_df.head()

  Customer_ID Account_Type  return_count
0  CUST000001      Current            12
1  CUST000002        Demat            12
2  CUST000003      Savings            12
3  CUST000004      Current            12
4  CUST000005      Savings            12

In [4]:
# Separate account types
current_accounts = retention_df[
    retention_df['Account_Type'] == 'Current'
]['return_count']

savings_accounts = retention_df[
    retention_df['Account_Type'] == 'Savings'
]['return_count']

print("Current Account count:", len(current_accounts))
print("Savings Account count:", len(savings_accounts))

Current Account count: 2055
Savings Account count: 2027

In [5]:
# Perform independent t-test
t_stat, p_value = ttest_ind(
    current_accounts,
    savings_accounts,
    equal_var=False
)

t_stat, p_value

c:\Users\danis\danish\anaconda\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

(nan, nan)

In [6]:
# Perform independent t-test
t_stat, p_value = ttest_ind(
    current_accounts,
    savings_accounts,
    equal_var=False
)

t_stat, p_value

(nan, nan)

### Hypothesis

- **Null Hypothesis (H₀):**
  There is no difference in customer retention between account types.

- **Alternative Hypothesis (H₁):**
  There is a significant difference in customer retention between account types.

### Interpretation

- If p-value < 0.05:
  There is a statistically significant difference in customer retention.

- If p-value ≥ 0.05:
  There is no statistically significant difference in customer retention.

### Conclusion (Plain English)

A t-test was conducted to examine whether customer retention differs
between Current and Savings account holders.

Customer retention was measured by counting how many times a customer
appeared in the dataset, which represents how often they returned.

Based on the obtained p-value, we conclude that the difference in
customer retention between account types is
(statistically significant / not statistically significant).

This means that account type
(does / does not) have a meaningful impact on customer retention.