In [4]:
#Load dataset
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Malli Mounika\Downloads\storedata_total1.csv")
df

,custid,retained,created,firstorder,lastorder,esent,eopenrate,eclickrate,avgorder,ordfreq,paperless,refill,doorstep,favday,city
0,6H6T6N,0,28-09-2012,11-08-2013,11-08-2013,29,100.000000,3.448276,14.52,0.000000,0,0,0,Monday,DEL
1,APCENR,1,19-12-2010,01-04-2011,19-01-2014,95,92.631579,10.526316,83.69,0.181641,1,1,1,Friday,DEL
2,7UP6MS,0,03-10-2010,01-12-2010,06-07-2011,0,0.000000,0.000000,33.58,0.059908,0,0,0,Wednesday,DEL
3,7ZEW8G,0,22-10-2010,28-03-2011,28-03-2011,0,0.000000,0.000000,54.96,0.000000,0,0,0,Thursday,BOM
4,8V726M,1,27-11-2010,29-11-2010,28-01-2013,30,90.000000,13.333333,111.91,0.008850,0,0,0,Monday,BOM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30796,24CY2D,1,17-01-2018,17-01-2018,17-01-2018,6,83.333333,16.666667,55.68,0.000000,1,0,1,Friday,MAA
30797,YQK8BU,1,17-01-2018,17-01-2018,17-01-2018,13,69.230769,7.692308,35.00,0.000000,1,0,0,Saturday,MAA
30798,TFQRQP,1,17-01-2018,17-01-2018,21-01-2018,8,75.000000,37.500000,52.03,0.500000,1,1,0,Saturday,MAA
30799,ZTXM5Y,1,17-01-2018,17-01-2018,17-01-2018,6,33.333333,0.000000,40.20,0.000000,1,0,0,Friday,BOM
30800,HXF9P5,1,17-01-2018,17-01-2018,17-01-2018,5,40.000000,20.000000,40.00,0.000000,1,0,0,Friday,MAA

In [9]:
df.head()

,custid,retained,created,firstorder,lastorder,esent,eopenrate,eclickrate,avgorder,ordfreq,paperless,refill,doorstep,favday,city
0,6H6T6N,0,28-09-2012,11-08-2013,11-08-2013,29,100.000000,3.448276,14.52,0.000000,0,0,0,Monday,DEL
1,APCENR,1,19-12-2010,01-04-2011,19-01-2014,95,92.631579,10.526316,83.69,0.181641,1,1,1,Friday,DEL
2,7UP6MS,0,03-10-2010,01-12-2010,06-07-2011,0,0.000000,0.000000,33.58,0.059908,0,0,0,Wednesday,DEL
3,7ZEW8G,0,22-10-2010,28-03-2011,28-03-2011,0,0.000000,0.000000,54.96,0.000000,0,0,0,Thursday,BOM
4,8V726M,1,27-11-2010,29-11-2010,28-01-2013,30,90.000000,13.333333,111.91,0.008850,0,0,0,Monday,BOM

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30801 entries, 0 to 30800
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   custid      30781 non-null  object
 1   retained    30801 non-null  int64
 2   created     30781 non-null  object
 3   firstorder  30781 non-null  object
 4   lastorder   30781 non-null  object
 5   esent       30801 non-null  int64
 6   eopenrate   30801 non-null  float64
 7   eclickrate  30801 non-null  float64
 8   avgorder    30801 non-null  float64
 9   ordfreq     30801 non-null  float64
 10  paperless   30801 non-null  int64
 11  refill      30801 non-null  int64
 12  doorstep    30801 non-null  int64
 13  favday      30801 non-null  object
 14  city        30801 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 3.5+ MB

In [11]:
df.describe()

,retained,esent,eopenrate,eclickrate,avgorder,ordfreq,paperless,refill,doorstep
count,30801.000000,30801.000000,30801.000000,30801.000000,30801.000000,30801.000000,30801.000000,30801.000000,30801.000000
mean,0.794520,28.138405,25.554838,5.671139,61.873944,0.037729,0.649037,0.095094,0.038895
std,0.404059,16.751380,29.557106,10.561704,41.007588,0.103932,0.477279,0.293350,0.193347
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,16.000000,2.040816,0.000000,40.020000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,32.000000,13.207547,0.000000,50.970000,0.000000,1.000000,0.000000,0.000000
75%,1.000000,42.000000,40.000000,7.142857,74.280000,0.040816,1.000000,0.000000,0.000000
max,1.000000,291.000000,100.000000,100.000000,2600.140000,3.250000,1.000000,1.000000,1.000000

In [5]:
#Split into two groups

retained = df[df["retained"] == 1]["avgorder"].values
not_retained = df[df["retained"] == 0]["avgorder"].values

In [6]:
#Manual t-test calculation

n1 = len(retained)
n2 = len(not_retained)

mean1 = np.mean(retained)
mean2 = np.mean(not_retained)

var1 = np.var(retained, ddof=1)
var2 = np.var(not_retained, ddof=1)

t_stat = (mean1 - mean2) / np.sqrt((var1/n1) + (var2/n2))
print("T-statistic:", t_stat)

T-statistic: 0.690142107805017

In [7]:
#P-value

from math import erf, sqrt

def normal_cdf(x):
    return (1 + erf(x / sqrt(2))) / 2

p_value = 2 * (1 - normal_cdf(abs(t_stat)))
print("P-value:", p_value)

P-value: 0.4901048253449436

In [8]:
#Final decision

alpha = 0.05

if p_value < alpha:
    print("Result: Retention has significant effect on avg order")
else:
    print("Result: No significant relationship")

Result: No significant relationship

In [ ]:
#Report

We conducted a manual independent t-test to compare the average order value between retained and non-retained customers.
The t-statistic was calculated using mathematical formula without any statistical library.
The obtained p-value shows whether the difference is statistically significant.
If p-value is less than 0.05, we conclude that retention significantly affects customer spending behavior.