In [3]:
#import libraries

import pandas as pd
from scipy.stats import ttest_ind

In [9]:
#load dataset

df = pd.read_csv("02 Churn-Dataset.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,numAdminTickets,numTechTickets,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,0,0,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,One year,No,Mailed check,56.95,1889.5,0,0,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,0,0,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,0,3,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,0,0,Yes

In [11]:
#Basic Data Check

df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'numAdminTickets',
       'numTechTickets', 'Churn'],
      dtype='object')

In [12]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
numAdminTickets     0
numTechTickets      0
Churn               0
dtype: int64

In [14]:
# Convert TotalCharges to numeric 
if 'TotalCharges' in df.columns:
    df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Drop rows with missing values
df = df.dropna(subset=['Churn', 'MonthlyCharges'])

In [15]:
#Split Data into Two Groups

returned = df[df['Churn'] == 'No']['MonthlyCharges']
not_returned = df[df['Churn'] == 'Yes']['MonthlyCharges']

print("Returned customers count:", returned.shape[0])
print("Not returned customers count:", not_returned.shape[0])

Returned customers count: 5174
Not returned customers count: 1869

In [16]:
#Perform Independent Two-Sample t-Test

t_stat, p_value = ttest_ind(returned, not_returned, equal_var=False)

print("T-statistic:", t_stat)
print("P-value:", p_value)

T-statistic: -18.407526676414673
P-value: 8.59244933154705e-73

In [17]:
alpha = 0.05

if p_value < alpha:
    print("Result: Statistically significant difference between returned and not returned customers.")
else:
    print("Result: No statistically significant difference between returned and not returned customers.")

Result: Statistically significant difference between returned and not returned customers.

An independent two-sample t-test was conducted to compare the monthly charges of customers who returned and those who did not return.
The results showed a statistically significant difference (p < 0.05), indicating that monthly charges vary meaningfully between the two groups.
This suggests that pricing may be associated with customer retention behavior rather than occurring by random chance.

(If p ≥ 0.05, replace “statistically significant” with “not statistically significant.”)

In [20]:
df['tenure']
df['TotalCharges']

0         29.85
1       1889.50
2        108.15
3       1840.75
4        151.65
         ...
7038    1990.50
7039    7362.90
7040     346.45
7041     306.60
7042    6844.50
Name: TotalCharges, Length: 7043, dtype: float64

In [21]:
returned_tenure = df[df['Churn'] == 'No']['tenure']
not_returned_tenure = df[df['Churn'] == 'Yes']['tenure']
ttest_ind(returned_tenure, not_returned_tenure, equal_var=False)

TtestResult(statistic=np.float64(34.823818696312976), pvalue=np.float64(1.1954945472607151e-232), df=np.float64(4048.287609494835))