# Housing Price Prediction
Supervised Regression using Linear Regression

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv('housing.csv')
df.head()

   area_sqft  bedrooms  bathrooms  age_years   price
0       1360         2          1          5  253128
1       1794         1          3         34  308032
2       1630         5          2         36  327935
3       1595         3          1         23  284546
4       2138         4          3         28  428145

In [3]:
X = df.drop('price', axis=1)
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [4]:
model = LinearRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [5]:
print('MSE:', mean_squared_error(y_test, predictions))
print('R2 Score:', r2_score(y_test, predictions))

MSE: 147792678.8409289
R2 Score: 0.9902970052657227