In [1]:
import pandas as pd
from scipy.stats import skew

In [4]:
df = pd.read_csv("Marketing campaign dataset.csv")
df.head()

,campaign_item_id,no_of_days,time,ext_service_id,ext_service_name,creative_id,creative_width,creative_height,search_tags,template_id,...,exchange_rate,media_cost_usd,position_in_content,unique_reach,total_reach,search_tag_cat,cmi_currency_code,timezone,weekday_cat,keywords
0,2733,7,2022-05-01,128,Facebook Ads,1000,300.0,250.0,#The Power of X,90.0,...,1,14.058514,NaN,NaN,NaN,Others,SGD,Asia/Singapore,week_end,delicate bracelets
1,2733,8,2022-05-02,16,DV360,1000,300.0,250.0,#Be Bold. Be X,90.0,...,1,99.633496,NaN,NaN,NaN,Others,SGD,Asia/Singapore,week_day,summer jewelry
2,2733,9,2022-05-03,128,Facebook Ads,1000,300.0,250.0,#Embrace Your Individuality with X,90.0,...,1,109.419677,NaN,NaN,NaN,Others,SGD,Asia/Singapore,week_day,artisan jewelry
3,2733,10,2022-05-04,128,Facebook Ads,1000,300.0,250.0,#Be Bold. Be X,90.0,...,1,115.209499,NaN,NaN,NaN,Others,SGD,Asia/Singapore,week_day,layered bracelets
4,2733,11,2022-05-05,4,Google Ads,1000,300.0,250.0,#Be Bold. Be X,90.0,...,1,66.990104,NaN,NaN,NaN,Others,SGD,Asia/Singapore,week_day,minimalist jewelry

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72612 entries, 0 to 72611
Data columns (total 35 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   campaign_item_id     72612 non-null  int64
 1   no_of_days           72612 non-null  int64
 2   time                 72612 non-null  object
 3   ext_service_id       72612 non-null  int64
 4   ext_service_name     72612 non-null  object
 5   creative_id          72612 non-null  int64
 6   creative_width       69200 non-null  float64
 7   creative_height      69200 non-null  float64
 8   search_tags          72612 non-null  object
 9   template_id          69200 non-null  float64
 10  landing_page         72612 non-null  object
 11  advertiser_id        72612 non-null  int64
 12  advertiser_name      72612 non-null  object
 13  network_id           72612 non-null  int64
 14  approved_budget      72206 non-null  float64
 15  advertiser_currency  72612 non-null  object
 16  channel_id           72612 non-null  int64
 17  channel_name         72612 non-null  object
 18  max_bid_cpm          7406 non-null   float64
 19  network_margin       72612 non-null  float64
 20  campaign_budget_usd  72612 non-null  float64
 21  impressions          72612 non-null  int64
 22  clicks               72612 non-null  int64
 23  stats_currency       72612 non-null  object
 24  currency_code        72612 non-null  object
 25  exchange_rate        72612 non-null  int64
 26  media_cost_usd       72612 non-null  float64
 27  position_in_content  0 non-null      float64
 28  unique_reach         0 non-null      float64
 29  total_reach          0 non-null      float64
 30  search_tag_cat       72612 non-null  object
 31  cmi_currency_code    72612 non-null  object
 32  timezone             72612 non-null  object
 33  weekday_cat          72612 non-null  object
 34  keywords             72612 non-null  object
dtypes: float64(11), int64(10), object(14)
memory usage: 19.4+ MB

In [7]:
#Calculate Average Spending per Customer
avg_spending = df.groupby("advertiser_id")["media_cost_usd"].mean()
avg_spending.head()

advertiser_id
4756    81.062258
5191     6.437710
5209     5.277250
5227     9.059704
5395    11.900454
Name: media_cost_usd, dtype: float64

In [8]:
#Identify Top 10% of Spenders
total_spend = df.groupby("advertiser_id")["media_cost_usd"].sum()
threshold = total_spend.quantile(0.90)
top_10_spenders = total_spend[total_spend >= threshold]
top_10_spenders.head()

advertiser_id
5641    66769.831333
5686    74468.302047
6334    59045.455583
6337    73918.284555
6370    87834.845455
Name: media_cost_usd, dtype: float64

In [9]:
#Detect Skewness in Customer Engagement
engagement_skewness = skew(df["clicks"])
engagement_skewness

29.966826517172485