Nernay Kumar
Inten Id 
INT2026-9021

In [ ]:
# Problem 1: Reverse a String

s = "python"
rev = ""

for ch in s:
  rev = ch + rev

print(rev)

nohtyp

In [ ]:
# Problem 2: Check Even or Odd
n = 7

if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [ ]:
# Problem 3: Sum of Elements in a List

arr = [1, 2, 3, 4, 5]
total = 0

for num in arr:
    total += num

print(total)

15

In [ ]:
# Problem 4: Count Vowels in a String

s = "geeksforgeeks"
vowels = "aeiou"
count = 0

for ch in s:
    if ch in vowels:
        count += 1

print(count)

5

In [ ]:
# Problem 5: Find Largest Element in a Lis

arr = [10, 5, 20, 8]
max_val = arr[0]

for num in arr:
    if num > max_val:
        max_val = num

print(max_val)

20

In [ ]:
# Problem 6: Check Palindrome
s = "madam"
if s == s[::-1]:
    print(True)
else:
    print(False)

True

In [ ]:
# Problem 7: Remove Duplicates from a List

arr = [1, 2, 2, 3, 4, 4, 5]
unique = []

for num in arr:
    if num not in unique:
        unique.append(num)

print(unique)

[1, 2, 3, 4, 5]

In [ ]:
# Problem 8: Second Largest Element
arr = [10, 20, 4, 45, 99]

first = second = -1

for num in arr:
    if num > first:
        second = first
        first = num
    elif num > second and num != first:
        second = num

print(second)

45

In [ ]:
# Problem 9: Frequency of Characters

s = "aabbc"
freq = {}

for ch in s:
    freq[ch] = freq.get(ch, 0) + 1

print(freq)

{'a': 2, 'b': 2, 'c': 1}

In [ ]:
# Problem 10: Swap Two Numbers Without Third Variable
a = 5
b = 10

a = a + b
b = a - b
a = a - b

print(a, b)

10 5

In [ ]:
# Q10. Factorial of a Number
n = 5
fact = 1

for i in range(1, n + 1):
    fact *= i

print(fact)

120

In [ ]:
# Q11. Check Prime Number

n = 7
is_prime = True

for i in range(2, n):
    if n % i == 0:
        is_prime = False
        break

if is_prime and n > 1:
    print("Prime")
else:
    print("Not Prime")

Prime

In [ ]:
# Q12. Find Length of a List without using len
arr = [1, 2, 3, 4]
count = 0

for _ in arr:
    count += 1

print(count)

4

In [ ]:
# Q13. Remove Duplicates from List

arr = [1, 2, 2, 3, 4, 4]
print(list(set(arr)))

[1, 2, 3, 4]

In [ ]:
# Q14. Swap Two Numbers
a = 3
b = 5

a, b = b, a
print(a, b)

5 3

In [ ]:
# Q15. Find Largest Element in a List
arr = [10, 25, 5, 40]
print(max(arr))

40

In [ ]:
# Q16. Print even numbers from 1 to 20
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Q17. Sum of numbers from 1 to N

n = 5
total = 0

for i in range(1, n + 1):
    total += i

print(total)

15

In [ ]:
# Q18. Print multiplication table
n = 5

for i in range(1, 11):
    print(n, "x", i, "=", n * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Q19. Print pattern (stars)
n = 4

for i in range(1, n + 1):
    print("*" * i)

*
**
***
****

In [ ]:
grid = [
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]
]

# Same grid as before, but now you can move:

# right

# down

# diagonal (down-right)
# Make a copy of dp array
dp = [[0]*len(grid) for _ in range(len(grid))]


for i in range(len(grid[0])):
  dp[0][i] = 1

for i in range(len(grid)):
  dp[i][0] = 1


for i in range(1,len(grid)):
  for j in range(1,len(grid)):
    dp[i][j] = grid[i][j] + min(dp[i][j-1], dp[i-1][j],dp[i-1][j-1])
  print(dp)

[[1, 1, 1], [1, 6, 7], [1, 0, 0]]
[[1, 1, 1], [1, 6, 7], [1, 9, 15]]

In [ ]:
# Using dynamic programming problem
# Two pointer techniques --?
#   0 1  2 3  4 5 6  7 8
# [-2,1,-3,4,-1,2,1,-5,4]

# max (dp)

# → Answer: 6  (subarray [4,-1,2,1])

# Instead of thinking:

# “What is the best subarray overall?”

# Think:

# “What is the best subarray that ends at index i?”

# This is the DP mindset.

# “What is the best subarray that ends at index i?”

# dp[i] =
#  1 + 2 - 1 + 4  = 6

#  1 + 2 - 1 + 4 - 3 = 3

#  1 + 2 - 1 + 4 - 3  + 1 = 4

#  1 + 2 - 1 + 4 - 3  + 1 -2 = 2


arr = [1, 2, -1, 3, 4, -2, 5]
# arr = [-2,1,-3,4,-1,2,1,-5,4]
dp = {}
dp[0] = arr[0]
for i in range(1,len(arr)):
  dp[i] = max(arr[i] + dp[i-1], arr[i])



print(dp)


# -3 + 1 -2 = -4
# -3 + 1 = -2

{0: 1, 1: 3, 2: 2, 3: 5, 4: 9, 5: 7, 6: 12}

In [ ]:
D
arr = [1,2,5]
dp= [
  #  0 1 2 3 4 5
    [0,0,0,0,0,0],
    [0,0,0,0,0,0],
    [0,0,0,0,0,0]
    ]

dp_1 = [[0] * 5 for _ in range(sum) ]

print("dp_1",dp_1)
sum = 5
for i in range(0, sum + 1):
  dp[0][i] = 1

for i in range(0, len(arr)):
  dp[i][0] = 1

print("dp",dp)
for i in range(1,len(arr)):
  for j in range(1,sum + 1):
    dp[i][j] = dp[i-1][j] + dp[i][j - arr[i]]
print('dp',dp)

In [ ]:
# Set C: 1D DP – Partitioning

# Problem: Coin Change (Count Ways)

# Given coins [1,2,5] and amount 5,

# We want combinations

# You can use each coin unlimited times

# Order does NOT matter

# Instead of manually listing all combinations, we want a systematic way to count:

# smaller amounts → build up to larger amounts

# reuse already computed results

# This is where DP comes in.


# 1 + 1 + 1 + 1 + 1  = 5   - 1
# 2 + 1 + 1 + 1      = 5   - 1
# 2 + 2 + 1          = 5   - 1
# 5                  = 5   - 1

# 4 ways

# 1 + 1 + 1 + 1 + 1 = 5
# 2 + 1 + 1 + 1     = 5
# 2 + 2 + 1         = 5
# 5                 = 5

# 2 , 1

# 2 + 1 + 1 + 1 = 5
# 2 + 2 + 1  = 5

# 3 , 2 , 1
# 2 + 2 + 1 = 5
# 3 + 2 =  5
# 2 + 1 + 1 + 1 = 5

def combination(x,y, target):
  print("sum",x,y)
  way = 0
  sum = x
  while(sum < target):
    print("sum",sum)
    sum += y
    if sum == target:
      way += 1
      break
  sum = y

  while(sum < target):
    print("sum",sum)
    sum += x
    if sum == target:
      way += 1
      break

  return way


dp = {}
arr = [1,2,5]
target = 5
x = 0
while(x <target):
  x += arr[0]
  if x == target:
    dp[0] = 1
  else:
    dp[0] = 0
print('dp',dp)

for i in range(1,len(arr)):
  if arr[i] == target:
    dp[i] = dp[i-1] + 1
  else:
    dp[i] = dp[i-1] + combination(i, i-1, target)

print(dp)

# def combination(x,y,target):



#  dp[i] = dp[i-1] + combination
# dp[1] = 1
# dp[2] = 2
# dp[3] = 1


# [1,2,4,5]  =  9
# 1,2,3,4 ->

# dp = {}
# solution we have manage 2d array
# dp[i][s] = dp[i-1][s] + dp[i-1][s - a_i]
#  0 1 2
# [1,2,5]

# [[], [], []]
# 1   2  3  4  5
#-----------------------
# 1 , 1, 1, 1, 1         = 5
# 0 , 2, 1, 1, 1
# 1 , 1, 0 ,2 ,1
# 0 , 0, 0 ,0 ,5


# 1   2  3  4  5
#-----------------------
# 1 , 1, 1, 1, 1         = 5
# 0 , 2, 1, 1, 1
# 1 , 1, 0 ,2 ,1
# 0 , 0, 0 ,0 ,5


# dp[i][s]=number of ways using first i numbers to make sum s

# dp[i][j] = dp[i-1][j] + dp[i][j - arr[i]]

   # 1   2  3  4  5  -------> sums

#1 # 1   1  1  1  1
   #-----------------------
#2 # 1   2  2  3  3
   #-----------------------
#5 # 1   2  2  3  4
   #-----------------------

# 1 + 1 + 1 = 3
# 2 + 1 = 3

# 1 + 1 + 1 + 1  = 4
# 2 + 2  = 4
# 1 + 1 + 1  = 4

# 1 + 1 + 1 + 1 + 1
# 2 + 1 + 1 + 1
# 2 + 2 + 1

In [ ]:
dp = {}
arr = [1,2,5]
target = 5
x = 0
while(x <target):
  x += arr[0]
  if x == target:
    dp[0] = 1
  else:
    dp[0] = 0
print('dp',dp)

dp {0: 1}

In [ ]:
print(dp)

[[1, 1, 1], [1, 6, 7], [1, 9, 15]]

In [ ]:
#           sum →
# coin ↓   0  1  2  3  4  5
# --------------------------------
# 1        1  1  1  1  1  1
# 2        1  1  2  2  3  3
# 5        1  1  2  2  3  4

In [ ]:
# <!--     0  1  2  3  4  5
# --------------------------------
# 1        1  1  1  1  1  1
# 2        1  1  2  2  3  3
# 5        1  1  2  2  3  4 -->

In [ ]:
arr = [1,2,5]
dp= [
  #  0 1 2 3 4 5
    [0,0,0,0,0,0],
    [0,0,0,0,0,0],
    [0,0,0,0,0,0]
    ]

dp_1 = [[0] * 5 for _ in range(sum) ]

print("dp_1",dp_1)
sum = 5
for i in range(0, sum + 1):
  dp[0][i] = 1

for i in range(0, len(arr)):
  dp[i][0] = 1

print("dp",dp)
for i in range(1,len(arr)):
  for j in range(1,sum + 1):
    dp[i][j] = dp[i-1][j] + dp[i][j - arr[i]]
print('dp',dp)

dp_1 [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
dp [[1, 1, 1, 1, 1, 1], [1, 0, 0, 0, 0, 0], [1, 0, 0, 0, 0, 0]]
dp [[1, 1, 1, 1, 1, 1], [1, 1, 2, 2, 3, 3], [1, 1, 2, 2, 3, 4]]

In [ ]:
[0] * 5

[0, 0, 0, 0, 0]

In [ ]:
sum = 4

[0] * sum +1

TypeError: can only concatenate list (not "int") to list