In [14]:
import pandas as pd
import numpy as np
import math
df = pd.read_csv(r"C:\Users\Malli Mounika\Downloads\completeSpamAssassin1.csv", encoding="latin-1")
df

C:\Users\Malli Mounika\AppData\Local\Temp\ipykernel_16132\4124612171.py:4: DtypeWarning: Columns (10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Malli Mounika\Downloads\completeSpamAssassin1.csv", encoding="latin-1")

,Unnamed: 0,Body,Label,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,0,\nSave up to 70% on Life Insurance.\nWhy Spend...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1) Fight The Risk of Cancer!\nhttp://www.adcli...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1) Fight The Risk of Cancer!\nhttp://www.adcli...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,##############################################...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,I thought you might like these:\n1) Slim Down ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22411,registered with the U.S. Library of Congress I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22412,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22413,You are currently subscribed to neatnettricks ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22414,To unsubscribe send a blank email to leave-nea...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22415,",0\n6044,empty,0\n6045,empty,0\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.head()

,Unnamed: 0,Body,Label,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
0,0,\nSave up to 70% on Life Insurance.\nWhy Spend...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1) Fight The Risk of Cancer!\nhttp://www.adcli...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1) Fight The Risk of Cancer!\nhttp://www.adcli...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,##############################################...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,I thought you might like these:\n1) Slim Down ...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,Unnamed: 0,Body,Label,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
count,22416,8978,6767,257,115,72,52,40,32,28,...,1,1,1,1,1,1,1,1,1,1
unique,20596,7696,718,222,111,71,52,40,32,28,...,1,1,1,1,1,1,1,1,1,1
top,>,empty,0,,and US,,on behalf of the Marshallese King,"issued the """"'State of War'","a Declaration"""" and broadcast it to the world...",not by virtue of being kept in,...,Jujube Seed,Lotus Seed,Tien Chi Ginseng,Ligus Ticum,Psoralea,Dodder Seed,and Cisthanches in a solution containing 24% ...,distilled water and Lecithen as an emulsifier...,not to exceed 25 drops. Best when taken upon...,should consult with their health care provide...
freq,361,510,4069,7,2,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [15]:
df.describe()

,Unnamed: 0,Body,Label,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45
count,22416,8978,6767,257,115,72,52,40,32,28,...,1,1,1,1,1,1,1,1,1,1
unique,20597,7696,718,222,111,71,52,40,32,28,...,1,1,1,1,1,1,1,1,1,1
top,>,empty,0,,and US,,on behalf of the Marshallese King,"issued the """"'State of War'","a Declaration"""" and broadcast it to the world...",not by virtue of being kept in,...,Jujube Seed,Lotus Seed,Tien Chi Ginseng,Ligus Ticum,Psoralea,Dodder Seed,and Cisthanches in a solution containing 24% ...,distilled water and Lecithen as an emulsifier...,not to exceed 25 drops. Best when taken upon...,should consult with their health care provide...
freq,361,510,4069,7,2,2,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [17]:
# Drop Body column
#clean the dataset
if 'Body' in df.columns:
    df.drop(columns=['Body'], inplace=True)

# Drop unnecessary unnamed index column
df = df.loc[:, ~df.columns.str.contains('^Unnamed: 0')]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22416 entries, 0 to 22415
Data columns (total 44 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Label        6767 non-null   object
 1   Unnamed: 3   257 non-null    object
 2   Unnamed: 4   115 non-null    object
 3   Unnamed: 5   72 non-null     object
 4   Unnamed: 6   52 non-null     object
 5   Unnamed: 7   40 non-null     object
 6   Unnamed: 8   32 non-null     object
 7   Unnamed: 9   28 non-null     object
 8   Unnamed: 10  23 non-null     object
 9   Unnamed: 11  21 non-null     object
 10  Unnamed: 12  19 non-null     object
 11  Unnamed: 13  18 non-null     object
 12  Unnamed: 14  15 non-null     object
 13  Unnamed: 15  14 non-null     object
 14  Unnamed: 16  13 non-null     object
 15  Unnamed: 17  12 non-null     object
 16  Unnamed: 18  12 non-null     object
 17  Unnamed: 19  10 non-null     object
 18  Unnamed: 20  6 non-null      object
 19  Unnamed: 21  3 non-null      object
 20  Unnamed: 22  3 non-null      object
 21  Unnamed: 23  2 non-null      object
 22  Unnamed: 24  2 non-null      object
 23  Unnamed: 25  2 non-null      object
 24  Unnamed: 26  2 non-null      object
 25  Unnamed: 27  2 non-null      object
 26  Unnamed: 28  2 non-null      object
 27  Unnamed: 29  1 non-null      object
 28  Unnamed: 30  1 non-null      object
 29  Unnamed: 31  1 non-null      object
 30  Unnamed: 32  1 non-null      object
 31  Unnamed: 33  1 non-null      object
 32  Unnamed: 34  1 non-null      object
 33  Unnamed: 35  1 non-null      object
 34  Unnamed: 36  1 non-null      object
 35  Unnamed: 37  1 non-null      object
 36  Unnamed: 38  1 non-null      object
 37  Unnamed: 39  1 non-null      object
 38  Unnamed: 40  1 non-null      object
 39  Unnamed: 41  1 non-null      object
 40  Unnamed: 42  1 non-null      object
 41  Unnamed: 43  1 non-null      object
 42  Unnamed: 44  1 non-null      object
 43  Unnamed: 45  1 non-null      object
dtypes: object(44)
memory usage: 7.5+ MB

In [18]:
#Split Features and Label

X = df.drop(columns=['Label']).values
y = df['Label'].values

print(X.shape, y.shape)

(22416, 43) (22416,)

In [19]:
#Train–Test Split (Manual)

np.random.seed(42)

indices = np.random.permutation(len(X))
split = int(0.8 * len(X))

X_train = X[indices[:split]]
X_test = X[indices[split:]]

y_train = y[indices[:split]]
y_test = y[indices[split:]]

In [41]:
#standardization
mean = X_train.mean(axis=0)
std = X_train.std(axis=0) + 1e-8

X_train = (X_train - mean) / std
X_test = (X_test - mean) / std

In [25]:
numeric_df = df.select_dtypes(include=[np.number])
numeric_df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [42]:
#KNN FUNCTION

def knn_predict(X_train, y_train, X_test, k=5):
    predictions = []

    for test_point in X_test:
        distances = np.sqrt(np.sum((X_train - test_point) ** 2, axis=1))
        k_indices = np.argsort(distances)[:k]
        k_labels = y_train[k_indices].astype(int)
        predictions.append(np.bincount(k_labels).argmax())

    return np.array(predictions)

In [46]:
def knn_predict(X_train, y_train, X_test, k=5):
    predictions = []

    for x in X_test:
        distances = np.linalg.norm(X_train - x, axis=1)
        k_indices = np.argsort(distances)[:k]
        k_labels = y_train[k_indices]

        #  FIX: convert (-1, 1) → (0, 1)
        k_labels = np.where(k_labels == -1, 0, 1)

        prediction = np.bincount(k_labels).argmax()
        predictions.append(prediction)

    return np.array(predictions)

In [47]:
y_test = np.where(y_test == -1, 0, 1)

In [49]:
#KNN Accuracy
y_pred_knn = knn_predict(X_train, y_train, X_test, k=5)
knn_accuracy = np.mean(y_pred_knn == y_test)
print("KNN Accuracy:", knn_accuracy)

KNN Accuracy: 1.0

In [50]:
#ENTROPY

def entropy(y):
    values, counts = np.unique(y, return_counts=True)
    probs = counts / counts.sum()
    return -np.sum(probs * np.log2(probs))

In [51]:
#INFORMATION GAIN

def information_gain(X, y, feature_index, threshold):
    left = y[X[:, feature_index] <= threshold]
    right = y[X[:, feature_index] > threshold]

    if len(left) == 0 or len(right) == 0:
        return 0

    total_entropy = entropy(y)
    weighted_entropy = (len(left)/len(y))*entropy(left) + (len(right)/len(y))*entropy(right)

    return total_entropy - weighted_entropy

In [52]:
#BEST SPLIT

def best_split(X, y):
    best_gain = 0
    split_feature = None
    split_threshold = None

    for feature in range(X.shape[1]):
        thresholds = np.unique(X[:, feature])[:5]
        for t in thresholds:
            gain = information_gain(X, y, feature, t)
            if gain > best_gain:
                best_gain = gain
                split_feature = feature
                split_threshold = t

    return split_feature, split_threshold

In [53]:
#TRAIN SIMPLE DECISION TREE (STUMP)

def train_tree(X, y):
    feature, threshold = best_split(X, y)

    if feature is None:
        return np.bincount(y).argmax()

    return feature, threshold

In [54]:
#TREE PREDICTION

def predict_tree(tree, X):
    feature, threshold = tree
    return np.array([1 if x[feature] > threshold else 0 for x in X])

In [56]:
y_train = np.where(y_train == -1, 0, 1)
y_test  = np.where(y_test  == -1, 0, 1)

In [57]:
def train_tree(X, y):
    best_feature = 0
    best_threshold = np.mean(X[:, 0])
    return best_feature, best_threshold

In [58]:
def predict_tree(tree, X):
    feature, threshold = tree
    predictions = []

    for x in X:
        if x[feature] > threshold:
            predictions.append(1)
        else:
            predictions.append(0)

    return np.array(predictions)

In [60]:
def train_tree(X, y):
    n_features = X.shape[1]

    if n_features == 0:
        raise ValueError("No features found in X")

    best_feature = 0
    best_threshold = np.mean(X[:, best_feature])

    return best_feature, best_threshold

In [61]:
def predict_tree(tree, X):
    feature, threshold = tree
    predictions = []

    for x in X:
        if x[feature] > threshold:
            predictions.append(1)
        else:
            predictions.append(0)

    return np.array(predictions)

In [67]:
import numpy as np

# SAFETY CHECK
if X_train.shape[1] == 0:
    print(" No features available. Predicting majority class.")

    majority_class = np.bincount(y_train).argmax()
    y_pred = np.full(len(X_test), majority_class)

else:
    def train_tree(X, y):
        feature = 0
        threshold = np.mean(X[:, feature])
        return feature, threshold

    def predict_tree(tree, X):
        feature, threshold = tree
        return np.array([1 if x[feature] > threshold else 0 for x in X])

    tree = train_tree(X_train, y_train)
    y_pred = predict_tree(tree, X_test)

print("Decision Tree Predictions:")
print(y_pred)

 No features available. Predicting majority class.
Decision Tree Predictions:
[1 1 1 ... 1 1 1]

In [68]:
import numpy as np

accuracy = np.mean(y_pred == y_test)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [69]:
print("Accuracy (%):", accuracy * 100)

Accuracy (%): 100.0