# Basic Python Assignment

Name: ___________
Date: ___________

> All programs are written in a simple, beginner-friendly way with clear logic.

## 01. Sum of two numbers

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum =", a + b)

## 02. Check even or odd

In [ ]:
n = int(input("Enter a number: "))
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

## 03. Find greater of two numbers

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

if a > b:
    print("Greater number is:", a)
else:
    print("Greater number is:", b)

## 04. Print numbers from 1 to N

In [ ]:
n = int(input("Enter N: "))
for i in range(1, n + 1):
    print(i)

## 05. Factorial of a number

In [ ]:
n = int(input("Enter a number: "))
fact = 1
for i in range(1, n + 1):
    fact = fact * i
print("Factorial =", fact)

## 06. Check prime number

In [ ]:
num = int(input("Enter a number: "))

if num <= 1:
    print("Not a prime number")
else:
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print("Prime number")
    else:
        print("Not a prime number")

## 07. Reverse a number

In [ ]:
n = int(input("Enter a number: "))
rev = 0
while n > 0:
    rev = rev * 10 + n % 10
    n = n // 10
print("Reversed number:", rev)

## 08. Sort list (Ascending)

In [ ]:
nums = [34, 21, 78, 1, 99, 63, 61, 22]

for i in range(len(nums)):
    for j in range(i + 1, len(nums)):
        if nums[i] > nums[j]:
            nums[i], nums[j] = nums[j], nums[i]

print(nums)

## 09. Sort list (Descending)

In [ ]:
nums = [34, 21, 78, 1, 99, 63, 61, 22]

for i in range(len(nums)):
    for j in range(i + 1, len(nums)):
        if nums[i] < nums[j]:
            nums[i], nums[j] = nums[j], nums[i]

print(nums)

## 10. Fibonacci series

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

## 11. Palindrome string

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

## 12. Count vowels in a string

In [ ]:
s = input("Enter a string: ")
count = 0

for ch in s.lower():
    if ch in 'aeiou':
        count += 1

print("Number of vowels:", count)

## 13. Function to find square

In [ ]:
def square(n):
    return n * n

num = int(input("Enter number: "))
print("Square =", square(num))

## 14. Largest element in a list

In [ ]:
nums = [1, 24, 43, 75, 87, 3, 65, 2, 5, 652, 45]
largest = nums[0]

for i in nums:
    if i > largest:
        largest = i

print("Largest element:", largest)

## 15. Sum of list elements

In [ ]:
nums = [1, 2, 3, 4, 5]
total = 0

for i in nums:
    total += i

print("Sum =", total)

## 16. Remove duplicates from list

In [ ]:
nums = [1,2,2,5,5,7,6,4,5,6,7,56]
unique = []

for i in nums:
    if i not in unique:
        unique.append(i)

print(unique)

## 17. Count frequency of elements

In [ ]:
nums = [1,2,2,5,5,7,6,4,5,6,7,56]
checked = []

for i in nums:
    if i not in checked:
        count = 0
        for j in nums:
            if i == j:
                count += 1
        print(i, "appears", count, "times")
        checked.append(i)

## 18. Student dictionary (topper & average)

In [ ]:
students = {"Krushna": 234, "Bhaba": 355, "Binay": 346, "Prasanta": 123}

total = 0
topper = ""
max_marks = 0

for name, marks in students.items():
    total += marks
    if marks > max_marks:
        max_marks = marks
        topper = name

average = total / len(students)

print("Topper:", topper)
print("Average marks:", average)

## 19. Count words in a sentence

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
print("Number of words:", len(words))

## 20. Armstrong number

In [ ]:
n = int(input("Enter a number: "))
temp = n
power = len(str(n))
total = 0

while temp > 0:
    digit = temp % 10
    total += digit ** power
    temp //= 10

if total == n:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")