In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("marketing_campaign.csv", sep=';')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

In [14]:
spend_columns = [
    'MntWines',
    'MntFruits',
    'MntMeatProducts',
    'MntFishProducts',
    'MntSweetProducts',
    'MntGoldProds'
]

df['Total_Spending'] = df[spend_columns].sum(axis=1)
df[['ID', 'Total_Spending']].head()

     ID  Total_Spending
0  5524            1617
1  2174              27
2  4141             776
3  6182              53
4  5324             422

In [15]:
average_spending = df['Total_Spending'].mean()
print("Average Spending per Customer:", round(average_spending, 2))

Average Spending per Customer: 605.8

In [16]:
top_10_threshold = df['Total_Spending'].quantile(0.90)

top_10_spenders = df[df['Total_Spending'] >= top_10_threshold]

print("Top 10% Spending Threshold:", top_10_threshold)
print("Number of Top 10% Spenders:", top_10_spenders.shape[0])

Top 10% Spending Threshold: 1536.2000000000003
Number of Top 10% Spenders: 224

In [17]:
engagement_columns = [
    'NumWebVisitsMonth',
    'NumWebPurchases',
    'NumCatalogPurchases',
    'NumStorePurchases',
    'NumDealsPurchases'
]

skewness_values = df[engagement_columns].skew()
skewness_values

NumWebVisitsMonth      0.207926
NumWebPurchases        1.382794
NumCatalogPurchases    1.880989
NumStorePurchases      0.702237
NumDealsPurchases      2.418569
dtype: float64

In [18]:
for col, value in skewness_values.items():
    if value > 0:
        print(f"{col}: Positively skewed")
    elif value < 0:
        print(f"{col}: Negatively skewed")
    else:
        print(f"{col}: Symmetric")

NumWebVisitsMonth: Positively skewed
NumWebPurchases: Positively skewed
NumCatalogPurchases: Positively skewed
NumStorePurchases: Positively skewed
NumDealsPurchases: Positively skewed